*{box-sizing: border-box;}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
 
header{
    background-color:#00cad1;
    display: flex;
    justify-content:center;
    align-items: center;
}

#sobre,
#especialidades,
#contato {
  padding: 40px 20px 0;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.container_conteudo{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: calc(100% - 10%);
    margin: 0 auto;
}

.topo_logo{
    font-weight: 600;
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_logo_topo{
    height: 60px;
}
.links_topo{
    font-weight: bolder;
   
}

.links_topo a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.links_topo a:hover{
    color: grey;
}

.visao_geral{
    position: relative;
    background-image: url("assets/assets/recepcao.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.titulo_visao_geral{
    height: 100%;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;


}

.titulo_visao_geral h1{
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 500;
}

.container_estrutura{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_estrutura img{
    height: 250px;
}

.container_estrutura h3{
    font-weight: 500;
    text-transform: uppercase;

}

.container_especialidades{
    display: flex;
    flex-wrap: wrap;
}

.especialidade{
    margin: 20px;
    width: calc(100% / 3 - 40px);
    border-radius: 3px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);

}

.especialidade img{
    width: 100%;
}

.especialidade  figcaption{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.button{
    margin-top: 20px;
    text-align: center;
}

.link_button{
    background-color:  #00cad1;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
}

footer{
    background-color: #0d6e71;
    color: white;
    padding: 20px;
}

footer .container{
    text-align: center;
}

@media (max-width: 1024px){

    .visao_geral{
        height: 400px;
    }

}


@media (max-width: 768px){
    .visao_geral{
        height: 300px;
    }

    .container_estrutura img{
        display: none;
    }    

    .especialidade{
        margin: 20px;
        width: calc(50% - 40px)
    
    }
    
}
@media (max-width: 425px){
    .topo{
       
        flex-direction: column;
        
    }
    .links_topo{
        font-weight: bolder;
        border-top: rgb(73, 67, 67) solid 1px;
        padding-top: 11px;
    }

    .visao_geral{       
        height: 200px;
    }

    .titulo_visao_geral h1{
        font-size: 28px;}

    .container_estrutura img{
        display: none;
    }    

    .especialidade{
        margin: 20px;
        width: 100%;
    
    }
}